* {
  font-family: 'Helvetica Neue', sans-serif;
  text-align: center;
}

.loadCountries {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.country {
  margin: 5px;
  width: 50%;
  border-radius: 10px;
  background-color: salmon;
  color: rgb(19, 13, 13);
}
